<%- include('header'); -%>
<h2 style="color: rgb(9, 117, 6);">This is my about Page</h2>

<p style="color: antiquewhite;">Hello, my name is Saikiran Maragouni and I am currently a [Your current year] BTech student studying Information Technology at CMRTC. I have a strong passion for web development and have been working on building my skills in this field for the past 2 years. <br>

    I have experience in a variety of web development technologies including HTML, CSS, JavaScript, and [Other technologies you know]. I have also worked on various projects such as [Name of a project you have worked on] which has helped me to gain a deeper understanding of the web development process. <br>
    
    In addition to my technical skills, I am a quick learner and enjoy taking on new challenges. I am always eager to learn new technologies and techniques to improve my skills and knowledge. <br>
    
    As a student, I am highly motivated and dedicated to achieve my goals. I am confident that my skills and experience in web development will help me to make a valuable contribution to any organization. <br>
    
    Thank you for taking the time to visit my about page, I look forward to connecting with you in the future.</p>


<%- include('footer'); -%>