<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>To DO List</title>
  <!-- <link rel="shortcut icon" href="https://cdn-icons-png.flaticon.com/512/3176/3176366.png"> -->
  <!-- <link rel="icon" href="https://www.flaticon.com/free-icons/to-do-list"> -->
  <link rel="stylesheet" href="css/styles.css">
</head>

<body>